@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
<html>
<head>
	<title>Menu for Næste Uge</title>
</head>
<body>
	<h1>kontakt info </h1>
	<table>
		
		<tr>
			<td>karen</td>
			<td>Kylling i karry</td>
	
		</tr>
		<tr>
			<td> nr. 22773344</td>
			<td>Tunmousse</td>
		</tr>
        <tr>
			<td> Email karengmail.com</td>
			<td>Tunmousse</td>
          
		</tr>
	
	</table>
</body>
</html>